<section class="container">
  <section class="columns">
    <div class="column is-half user-listing">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>
              <a (click)="setSelectedUser(user)">{{user.name}}</a>
              <a class="button is-link">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column">
      <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </section>
</section>
