<div class="card" *ngIf="user">
  <header class="card-header">
    <p class="card-header-title">
      Users' Details
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="../../assets/user.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
          <label [ngClass]="edit ? 'hide' : 'show-inline'">{{user.name}}</label>
          <input [(ngModel)]="user.name" [ngClass]="edit ? 'show-inline' : 'hide'" placeholder="name" value="user.name" />
          <a class="button is-link" (click)="toggleEdit($event)">{{ edit ? 'Done' : 'Edit' }}</a>
        </p>
        <p class="subtitle is-7">@{{user.username}}</p>
        <p class="subtitle is-7">{{user.email}}</p>
      </div>
    </div>

    <div class="content">
      <div class="columns is-flex">
        <div class="column" style="padding-left: 30px;">
          <p>
            <strong>Address:</strong>
            <br>{{user.address.suite}} {{user.address.street}},
            <br>{{user.address.city}},
            <br>{{user.address.zipcode}}</p>
        </div>
        <div class="column">
          <p>
            <strong>Phone:</strong>
            <br>{{user.phone}}</p>
        </div>
      </div>
      <div class="columns is-flex" style="padding-left: 20px;border-bottom:1px solid #d3d3d3;padding-bottom:10px;">
        <div class="column">
          <p>
            <strong>Company:</strong>
            <br>{{user.company.name}}
            <br>
            <small>{{user.company.catchPhrase}}</small>
            <br>
            <small>{{user.company.bs}}</small>
          </p>
        </div>
        <div class="column">
          <p>
            <strong>Website:</strong>
            <br>
            <a href="//{{user.website}}">{{user.website}}</a>
          </p>
        </div>
      </div>
    </div>
    <app-map [latitude]="user.address.geo.lat" [longitude]="user.address.geo.lng"></app-map>
  </div>
</div>
